@using Quizzler.Dal.Interfaces.Enums

@{
}
<div class="d-flex flex-column">
    <div class="display-5 d-flex flex-row">
        This is a test for the backend developers. It includes some basic stuff about backend development and a bit more.
    </div>
    <partial name="Partials/_userAgreement" />
</div>

<div id="startButtonContainer">
    <a id="startButton" class="btn btn-outline-secondary" asp-controller="Main" asp-action="StartQuiz" asp-route-symbol="@TestTypeEnum.Backend">Start</a>
</div>