@{
}
<div class="d-flex flex-column">
    <div class="display-5 d-flex flex-row">
        This is a test for the frontend developers. It includes some basic stuff about frontend development and a bit more.
    </div>
</div>

<div id="startButtonContainer">
    <a id="startButton" class="btn btn-outline-secondary" asp-controller="Main" asp-action="Quiz">Start</a>
</div>