@{
}
<div class="d-flex flex-column">
    <div class="display-5 d-flex flex-row">
        This is a test for the QA developers. It includes some basic stuff about quality assurance and a bit more.
    </div>
    <partial name="Partials/_userAgreement" />
</div>